# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DPLibrary.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\polagaev\source\repos\DPLibrary\.idea\.idea.DPLibrary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
